<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="MonitorDurationInSeconds" value="300" />
    <add key="ProcessNamesToMonitor" value="notepad,chrome" />
    <add key="MaxRestarts" value="5" />
    <add key="LogFilePath" value="C:\Logs\ProcessMonitorLog.txt" />
    <add key="RestartStatusFilePath" value="C:\Logs\RestartStatusLog.txt" />
    <add key="RestartCountFilePath" value="C:\Logs\RestartCount.txt" />
    <add key="ExceptionFilePath" value="C:\Logs\exceptionlog.txt" />
  </appSettings>
</configuration>